
<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/admin/subcriterias"><i class="fas fa-angle-double-left"></i> All Subriterias</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Subriteria</h2>
            <span class="text-dark">Use the below form to create a new Subriteria</span>
        </div>

        <!-- add user form -->
        <%- include('partials/_formSubcriteria') %>
       
    </div> 
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('partials/_footer') %>
<!-- /include footer -->
