
<!-- include header -->
<%- include('partials/_header') %>
<!-- /include header -->


    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <h1>Dashboard Page</h1>
        </div>
    </main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('partials/_footer') %>
<!-- /include footer -->