<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="img/letter-m.png" alt="">
  </div>
  <div class="headings">
    <h2>Media English</h2>
    <h3>Lorem Ipsum dolor sit amet</h3>
    <a href="/assessment" class="btn">Do a self-assessment!</a>
  </div>
</header>


<%- include('partials/footer'); -%>