 <!-- form handling -->
 <form action="/api/criterias" method="POST" id="add_criteria" class="qwe">
    <div class="new_criteria">
        <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="Weight" class="text-dark">Weight</label>
            <input type="text" name="weight" value="" placeholder="Weight">
        </div>

        <div class="form-group">
            <button type="submit" class="btn update">Save</button>
        </div>

    </div>
</form>